/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,600,700|Work+Sans:400,700,800|Montserrat:400,600');

/* Global Styles */
html {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #000A04;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.166667px;
}

/* Typography */
h0, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Work Sans', sans-serif;
  color: #000A04;
  font-weight: 400;
}
h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 26px;
  line-height: 1.5;
}

h3, .h3 {
  font-size: 22px;
  line-height: 34px;
}

h4, .h4 {
  font-size: 20px;
  line-height: 30px;
}

h5, .h5, h6, .h6 {
  font-size: 16px;
  line-height: 26px;
}

h0, .h0 {
  font-size: 42px;
}

p {
  color: #000A04;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 15px;
}
.primary-color {
  background-color: #001615;
}

.secondary-color {
  background-color: #FFC745;
}
/* Navbar */
.navbar {
  background-color: #001615;
  color: #FFC745;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  padding: 20px 15px !important;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #6D551E;
}
/* Sections */

/* Hero */
.hero-section {
  background-color: #001615;
  padding: 80px 0 48px 0;
  text-align: left;
}

.hero-section h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #FFC745;
}

.hero-section p {
  font-size: 1.25rem;
  font-weight: 300;
  color: #FFC745;
}

.hero-section a {
  color: #FFC745;
  background-color: #514017;
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.hero-section a:hover {
  background-color: #514017;
}

/* Section Titles */
.section-title {
  margin:24px 0 0 40px;
  text-align: left;
}


/* Portfolio Item */
.portfolio-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;

}

.portfolio-item img {
  width: 100%;
  height: auto;
  display: block;
}
/* Footer */
.footer {
  background-color: #333;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer a {
  color: #ced4da;
  transition: color 0.3s;
}

.footer a:hover {
  color: #007bff;
}

/* Buttons */
.btn {
  padding: 18px 38px;
  border: 2px solid transparent;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 14px;
  font-weight: 600;
  box-shadow: none;
  transition: all 0.3s ease;
}

.btn-main {
  background: #f44336;
  color: #fff;
}

.btn-main:hover {
  background: #000;
  color: #fff !important;
}

.btn-black {
  background: #000;
  color: #fff;
}

.btn-black:hover {
  background: #f44336;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #0E1111;
  border-color: #fff;
}

.btn-white:hover {
  background: transparent;
  color: #fff;
}

/* General Links */
a {
  color: #000;
  transition: all 0.25s ease;
}

a:hover {
  color: #035AA6;
  text-decoration: none;
  outline: none;
}

/* Background Colors */
.bg-primary {
  background: #f44336 !important;
}

.bg-secondary {
  background: #f7f7f7 !important;
}

.bg-extra {
  background: #e8eefb !important;
}

.text-color {
  color: #035AA6;
}

/* Section Spacing */
.section {
  padding: 64px 0;
}

.section-sm {
  padding: 32px 0;
}

/* Portfolio */
.portfolio .btn:focus, .portfolio .btn:hover {
  box-shadow: none !important;
  outline: 0 !important;
}

.portfolio .btn-group .btn {
  border-radius: 0px !important;
  padding-left: 0px;
  font-weight: 700;
}

.portfolio .btn-group .btn:hover {
  color: #f44336;
}

.portfolio .btn.active {
  color: #f44336;
}

/* Inner Box (Portfolio, etc.) */
.inner-box {
  position: relative;
}

.inner-box .image {
  position: relative;
  overflow: hidden;
}

.inner-box .image img {
  width: 100%;
  display: block;
  transition: all 0.3s;
}

.inner-box:hover .image img {
  transform: scale(1.1);
}

.inner-box .image .overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  background-color: rgba(47, 50, 56, 0.8);
  transition: all 0.6s ease;
}

.inner-box:hover .image .overlay-box {
  opacity: 1;
}

/* Forms */
.form-control {
  border-radius: 0;
  height: 45px;
  border-color: #e8eefb;
}

.form-control:focus {
  box-shadow: none;
  border-color: #f44336;
}

textarea.form-control {
  height: auto;
}

input.password {
  height: 45px;
  width: 200px;
}

/* Responsive Media Queries */
@media (max-width: 575px) {
  h2, .h2 {
    font-size: 32px;
    line-height: 43px;
  }
  .banner .cd-headline {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (max-width: 400px) {
  h2, .h2 {
    font-size: 32px;
    line-height: 1.2;
  }
  h5, .h5, h6, .h6 {
    font-size: 14px;
    line-height: 22px;
  }
  .banner .cd-headline {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  .banner .cd-headline {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (max-width: 991px) {
  .banner .cd-headline {
    font-size: 32px;
    line-height: 42px;
  }
}
